<div class="page-header"  style="padding-left: 140px">
  <h1>
    add-project!
  </h1>
  </div>
  <!-- Default form contact -->
  <div  style="margin: auto; width: 75%; border: 3px solid #008000;padding: 10px;">
      <form name="form" (ngSubmit)="f.form.valid && createProject()" #f="ngForm" novalidate>
          <div class="row mb-4" style="padding-left: 140px">
                  <div class="col-lg-3">
                       <label for="project" style="font-weight: bold">Project:</label>
                  </div>
                  <div class="col-lg-6" style="margin-left:-75px">
                       <input type="text"  class="form-control"  [(ngModel)]="project.ProjectName" #ProjectName="ngModel" required name="ProjectName" id="project">
                       <span class="help-block" *ngIf="ProjectName.errors?.required && f.submitted">
                          Project Name is required
                      </span>
                  </div>
              </div> 
              <div class="row mb-4" style="padding-left: 140px">               
                <div class="col-lg-4" style="margin-left:-85px">                   
                  <label style="font-weight: bold;padding-left:5px">Set Start and End Date:</label>
                </div>
                <div class="col-lg-1" style="margin-left:-45px">
                    <input id="setdate" type="checkbox" /> 
                </div>               
            </div> 
            <div class="row mb-4" style="margin-left:250px"> 
                <div class="col-lg-4" style="margin-left:-25px">
                    <input  type="text" style="width:175px" onfocus="(this.type='date')" [ngModel]="project.Start_Date|date:'yyyy-MM-dd'" (ngModelChange)="project.Start_Date=$event" #Start_Date="ngModel"  name="Start_Date" placeholder="Start Date" class="form-control" id="startdate">
               </div>
               <div class="col-lg-4" style="margin-left:10px">
                <input  type="text" style="width:175px" onfocus="(this.type='date')"  [ngModel]="project.End_Date|date:'yyyy-MM-dd'" (ngModelChange)="project.Start_Date=$event" #End_Date="ngModel"  name="End_Date" placeholder="End Date"class="form-control"  id="enddate">
              </div>
            </div>
               
              <div class="row mb-4" style="padding-left: 140px">
                   <div class="col-lg-3">
                        <label for="slider1" style="font-weight: bold">Priority:</label>
                   </div>
                   <div class="col-lg-6" style="margin-left:-75px">
                    <input id="slider1" type="range" [(ngModel)]="project.Priority" #Priority="ngModel"  name="Priority"  min="10" max="30" step="5" /> 
                   </div>
               </div>                           
               
              
               <div class="row mb-4" style="padding-left: 140px">
                <div class="col-lg-3">
                     <label for="startdate" style="font-weight: bold">Manager:</label>
                </div>
                <div class="col-lg-6" style="margin-left:-75px">
                     <input type="text" class="form-control" [(ngModel)]="project.UserName" #UserName="ngModel" required name="UserName"  id="txtmanager">
                     <span class="help-block" *ngIf="UserName.errors?.required && f.submitted">
                        User Name is required
                    </span>
                </div>
                <div class="col-lg-3">
                    <img src="../src/images/Search-icon.png" data-toggle="modal" data-target="#myModal">
                </div>
            </div>              
            
          <div class="row mb-4" style="padding-left: 360px">
            <div class="col-lg-3 col-lg-offset-3" style="margin-left:-75px">
              <input type="submit" value={{addorupdate}} class="btn btn-dark">
            </div>
            <div class="col-lg-3 col-lg-offset-3">
              <button type="submit" class="btn btn-dark">Reset</button>
            </div>
        </div> 
      </form>
  
      
     
    <div style="border: 3px solid #008000;">
           
        <div class="row mb-2">
            <div class="col-lg-10"  style="margin-top: 10px;margin-left:6px;margin-right:10px">
                <input type="text" class="form-control"  [(ngModel)]="ProjectFilter.ProjectName" placeholder="Search by Project" id="txtSearch">
            </div>
        </div>
		   <div class="row mb-4">
                <div class="col-lg-2" style="margin-left:9px">
                        <label style="font-weight: bold">Sort By:</label>
                 </div>
                 <div class="col-lg-2">
                        <input type="button" class="btn btn-dark" value="Start Date" (click)="setOrder('project.Start_Date')">
                 </div>
                 <div class="col-lg-2">
                        <input type="button" class="btn btn-dark" value="End Date" (click)="setOrder('project.End_Date')">
                 </div>
                 <div class="col-lg-2">
                        <input type="button" class="btn btn-dark" value="Priority" (click)="setOrder('project.Priority')">
                 </div>
                 <div class="col-lg-2">
                        <input type="button" class="btn btn-dark" value="Completed" (click)="setOrder('project.completedtask')">
                 </div>
          </div>
          <div  *ngFor="let project of projects | orderBy: order:reverse:'case-insensitive'| filterBy: ProjectFilter" style="margin:auto;padding:10px;">
              <div class="row mb-1" style="margin:auto;padding:10px;">
                  <div class="col-lg-4">
                     <label style="font-weight: bold">Project:</label>   {{project.ProjectName}}    
                    <span style="display:none">{{project.Project_ID}} </span>
                   </div>
                   <div class="col-lg-4">
                          <label style="font-weight: bold">Priority:</label>  {{project.Priority}}
                   </div>
                   <div class="col-lg-4">
                          <input type="button" class="btn btn-dark" (click)=EditProject(project) value="Edit" >
                   </div> 
                </div> 	
                   
                <div class="row mb-1" style="margin:auto;padding:10px;">
                    <div class="col-lg-3">
                      <label style="font-weight:bold;white-space: nowrap;margin-left:0px">No of Tasks:</label>  {{project.NoofTasks}}
                    </div>
                    <div class="col-lg-4">
                            <label style="font-weight:bold;white-space: nowrap;margin-left:65px">Completed:</label>  {{project.completedtask}} 
                      </div>
              </div> 	
              <div class="row mb-1" style="margin:auto;padding:10px;">
                  <div  class="col-lg-4">
                      <label style="font-weight: bold;white-space: nowrap;margin-left:0px">Start Date:</label>   {{project.Start_Date| date:'shortDate'}}
                   </div>
                   <div  class="col-lg-3">
                           <label style="font-weight: bold;white-space: nowrap;">End Date:</label>   {{project.End_Date| date:'shortDate'}}
                     </div>                                      
                     <div  class="col-lg-4">
                           <input type="button" style="margin-left:65px"  class="btn btn-dark" value="Suspend" >
                     </div>
              </div>
                <hr style="height:1px;border:none;color:#333;background-color:#333;">
          </div>
                           
                     
           
                  
     </div>
		
        
      <div class="modal" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
           
                 <!-- Modal Header -->
                 <div class="modal-header">
                   <h4 class="modal-title">Select Manager</h4>
                   <button type="button" class="close" data-dismiss="modal">&times;</button>
                 </div>
           
                 <!-- Modal body -->
                 <div class="modal-body">
                     <ul *ngFor="let user of users" class="list-group">
                         <li class="list-group-item" (click)="SelectUser(user)"><label style="display:none">{{user.userId}}</label>{{user.firstName}}</li>                    
                       </ul> 
                 </div>
           
                 <!-- Modal footer -->
                 <div class="modal-footer">
                   <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                 </div>
           
             </div>
            </div>
       </div>
            

    
 
  <!-- Default form contact -->
  
  