<div class="page-header"  style="padding-left: 140px">
  <h1>
    add-task!
  </h1>
  </div>
  <!-- Default form contact -->
  <div style="margin: 20px;">
        <div class="alert alert-success" *ngIf="saveSuccess">
            <a href="#" class="close" (click)="hideAlert()">&times;</a>
            <strong>Success!</strong> {{this.alertMessage}}
        </div>
      </div>
  <div  style="margin: auto; width: 75%; border: 3px solid #008000;padding: 10px;">
      <form name="form" (ngSubmit)="f.form.valid && createTask(f)" #f="ngForm" novalidate>
      <div class="row mb-4" style="padding-left: 140px">
          <div class="col-lg-3">
               <label for="project" style="font-weight: bold">Project:</label>
          </div>
          <div class="col-lg-6">
               <input type="text" class="form-control"  [(ngModel)]="task.ProjectName" #ProjectName="ngModel" required name="ProjectName" id="project">
               <span class="help-block" *ngIf="ProjectName.errors?.required && f.submitted">
                  Project Name is required
              </span>
          </div>
          <div class="col-lg-3">
             <img src="../src/images/Search-icon.png" data-toggle="modal" data-target="#ProjecttModal">
         </div>
      </div> 
       
          <div class="row mb-4" style="padding-left: 140px">
                  <div class="col-lg-3">
                       <label for="task" style="font-weight: bold">Task:</label>
                  </div>
                  <div class="col-lg-6">
                       <input type="text" class="form-control"  [(ngModel)]="task.TaskName" #TaskName="ngModel" required name="TaskName" id="task">
                       <span class="help-block" *ngIf="TaskName.errors?.required && f.submitted">
                          Task Name is required
                      </span>
                  </div>
              </div>
              <div class="row mb-4" style="padding-left: 140px">
                  <div class="col-lg-3" style="margin-left:180px;">
                      <input type="checkbox" (change)="EnableParentTask()" id="checkbox_id" style="font-weight: bold"/>
                      <label for="checkbox_id"><label style="font-weight: bold;margin-left:20px" for="checkbox_id">Parent Task</label></label>
                 </div>
              </div> 
               
              <div class="row mb-4" style="padding-left: 140px">
                   <div class="col-lg-3">
                        <label for="slider1" style="font-weight: bold">Priority:</label>
                   </div>
                   <div class="col-lg-6">
                    <input id="slider1" type="range"  [(ngModel)]="task.Priority" #Priority="ngModel"  name="Priority"  min="10" max="30" step="5" /> 
                   </div>
               </div> 
                          
                <div class="row mb-4" style="padding-left: 140px">
                    <div class="col-lg-3">
                            <label for="parenttask" style="font-weight: bold">Parent Task</label>
                     </div> 
                     <div class="col-lg-6">
                        <input type="text" class="form-control" [disabled]="disableparenttask" [(ngModel)]="task.ParentName" #ParentName="ngModel"  name="ParentName"  id="parenttask">
                   </div>
                   <div class="col-lg-3">
                      <img src="../src/images/Search-icon.png"  data-toggle="modal" data-target="#ParentModal">
                  </div>
                </div>
              
               <div class="row mb-4" style="padding-left: 140px">
                <div class="col-lg-3">
                     <label for="startdate" style="font-weight: bold">Start Date:</label>
                </div>
                <div class="col-lg-6">
                     <input type="date" class="form-control"  [ngModel]="task.Start_Date|date:'yyyy-MM-dd'" (ngModelChange)="task.Start_Date=$event" #Start_Date="ngModel"  required name="Start_Date"  id="startdate">
                     <span class="help-block" *ngIf="Start_Date.errors?.required && f.submitted">
                        Start_Date is required
                    </span>
                </div>
                
            </div> 
             
            <div class="row mb-4" style="padding-left: 140px">
              <div class="col-lg-3">
                   <label for="enddate" style="font-weight: bold">End Date:</label>
              </div>
              <div class="col-lg-6">
                   <input type="date" class="form-control" (blur)="compareTwoDates()"  [ngModel]="task.End_Date|date:'yyyy-MM-dd'" (ngModelChange)="task.End_Date=$event" #End_Date="ngModel"  required name="End_Date"  id="enddate">
                   <span class="help-block" *ngIf="End_Date.errors?.required && f.submitted">
                      End_Date is required
                  </span>
                  <span *ngIf="error.isError">
                    {{ error.errorMessage }}
                </span>
              </div>
          </div> 
          <div class="row mb-4" style="padding-left: 140px">
              <div class="col-lg-3">
                      <label for="user" style="font-weight: bold">User:</label>
               </div> 
               <div class="col-lg-6">
                  <input type="text" class="form-control"  [(ngModel)]="task.UserName" #UserName="ngModel" required name="UserName"  id="user">
                  <span class="help-block" *ngIf="UserName.errors?.required && f.submitted">
                      UserName is required
                  </span>
             </div>
             <div class="col-lg-3">
                <img src="../src/images/Search-icon.png" data-toggle="modal" data-target="#myModal">
            </div>
          </div>
          <div class="row mb-4" style="padding-left: 360px">
            <div class="col-lg-3 col-lg-offset-3">
              <input type="submit" value="{{this.addorupdate}}" class="btn btn-dark">
            </div>
            <div class="col-lg-3 col-lg-offset-3">
              <button type="reset" class="btn btn-dark">Reset</button>
            </div>
        </div> 
      </form>
    
  </div>
  
 <div class="modal" id="myModal">
     <div class="modal-dialog">
       <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Select Users</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
                    <input type="text" class="form-control" [(ngModel)]="UserFilter.firstName"  placeholder="Search by User" id="txtmanager">
                    <ul *ngFor="let user of users |filterBy: UserFilter"  class="list-group" style="margin-top:10px">
                        <li class="list-group-item" (click)="SelectUser(user)"><label style="display:none">{{user.userId}}</label>{{user.firstName}}</li>                    
                      </ul> 
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
            </div>
      
        </div>
       </div>
  </div>
    

  <div class="modal" id="ParentModal">
    <div class="modal-dialog">
      <div class="modal-content">
     
           <!-- Modal Header -->
           <div class="modal-header">
             <h4 class="modal-title">Select Parent Task</h4>
             <button type="button" class="close" data-dismiss="modal">&times;</button>
           </div>
     
           <!-- Modal body -->
           <div class="modal-body">
                <input type="text" class="form-control" [(ngModel)]="ParentFilter.Parent_Task"  placeholder="Search by Project" id="txtParent">               
               <ul *ngFor="let parent of parenttasks|filterBy: ParentFilter" class="list-group" style="margin-top:10px">
                   <li class="list-group-item" (click)="SelectParent(parent)"><label style="display:none">{{parent.Parent_ID}}</label>{{parent.Parent_Task}}</li>                    
                 </ul> 
           </div>
     
           <!-- Modal footer -->
           <div class="modal-footer">
             <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
           </div>
     
       </div>
      </div>
 </div>

 <div class="modal" id="ProjecttModal">
    <div class="modal-dialog">
      <div class="modal-content">
     
           <!-- Modal Header -->
           <div class="modal-header">
             <h4 class="modal-title">Select Projects</h4>
             <button type="button" class="close" data-dismiss="modal">&times;</button>
           </div>
     
           <!-- Modal body -->
           <div class="modal-body">
                <input type="text" class="form-control" [(ngModel)]="ProjectFilter.ProjectName"  placeholder="Search by Project" id="txtmanager">               
               <ul *ngFor="let project of projects |filterBy: ProjectFilter" class="list-group" style="margin-top:10px">
                   <li class="list-group-item" (click)="SelectProject(project)"><label style="display:none">{{project.Project_ID}}</label>{{project.ProjectName}}</li>                    
                 </ul> 
           </div>
     
           <!-- Modal footer -->
           <div class="modal-footer">
             <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
           </div>
     
       </div>
      </div>
 </div>
  <!-- Default form contact -->
  
  