<div class="page-header"  style="padding-left: 140px">
  <h1>
    add-user!
  </h1>
  </div>
  <!-- Default form contact -->
  <div style="margin: 20px;">
    <div class="alert alert-success" *ngIf="saveSuccess">
        <a href="#" class="close" (click)="hideAlert()">&times;</a>
        <strong>Success!</strong> {{this.alertMessage}}
    </div>
  </div>
  <div  style="margin: auto; width: 75%; border: 3px solid #008000;padding: 10px;">
      <form name="form" (ngSubmit)="f.form.valid && createUser()" #f="ngForm" novalidate>
          <div class="row mb-4" style="padding-left: 140px">
                  <div class="col-lg-3">
                       <label for="fname" style="font-weight: bold">First Name:</label>
                  </div>
                  <div class="col-lg-6">                      
                      <input type="text" [(ngModel)]="user.firstName" #firstName="ngModel" required name="firstName" class="form-control">                    
                      <span class="help-block" *ngIf="firstName.errors?.required && f.submitted">
                          First Name is required
                      </span>
                 </div>
              </div> 
               
              <div class="row mb-4" style="padding-left: 140px">
                   <div class="col-lg-3">
                        <label for="lname" style="font-weight: bold">Last Name:</label>
                   </div>
                   <div class="col-lg-6">
                      <input type="text" [(ngModel)]="user.lastName" #lastName="ngModel" required name="lastName" class="form-control">                    
                      <span class="help-block" *ngIf="lastName.errors?.required && f.submitted">
                          Last Name is required
                      </span>
                   </div>
               </div> 
                          
                <div class="row mb-4" style="padding-left: 140px">
                    <div class="col-lg-3">
                            <label for="empid" style="font-weight: bold">Employee Id</label>
                     </div> 
                 <div class="col-lg-6">
                    <input type="text" [(ngModel)]="user.employeeId" #employeeId="ngModel" required name="employeeId" class="form-control">                    
                    <span class="help-block" *ngIf="employeeId.errors?.required && f.submitted">
                        Employee Id is required
                    </span>
                  </div>
                </div>             
                          
          
          <div class="row mb-4" style="padding-left: 360px">
            <div class="col-lg-3 col-lg-offset-3">
              <input type="submit" value={{this.addorupdate}} class="btn btn-dark">
            </div>
            <div class="col-lg-3 col-lg-offset-3">
              <button type="reset" class="btn btn-dark" (click)="resetForm()">Reset</button>
            </div>
        </div>           
      </form>
  </div>

  <div class="row mb-4" style="margin:auto;margin-top:10px; width: 75%; border: 3px solid #008000;padding: 10px;">  
        <div class="col-lg-4">
          <input type="text" class="form-control" placeholder="Search by First Name" [(ngModel)]="userFilter.firstName" id="txtSearch">
        </div>
        <div class="col-lg-2" style="margin-left:-5px">
            <label style="font-weight: bold">Sort By:</label>
        </div>
        <div class="col-lg-2" style="margin-left:-55px">    
            <input type="button" class="btn btn-dark" value="First Name" (click)="setOrder('user.firstName')" >  
           
        </div>
        <div class="col-lg-2">
                <input type="button" class="btn btn-dark" value="Last Name" (click)="setOrder('user.lastName')">
        </div>
        <div class="col-lg-2">
           <input type="button" class="btn btn-dark" value="Employee ID" (click)="setOrder('user.employeeId')">
         </div>
    </div>
 <div  *ngFor="let user of users | orderBy: order:reverse:'case-insensitive'| filterBy: userFilter" style="margin:auto;margin-top:10px; width: 75%; border: 3px solid #008000;padding: 10px;">
    
     
        <div>
            <div class="row mb-2"> 
            <div class="col-lg-6" style="background-color:rgb(26, 219, 161);margin-left:10px">
            <label style="font-weight: bold">{{user.firstName}}</label>
            <label style="display:none">{{user.userId}}</label>
            </div> 
            <div class="col-lg-4"><input type="button" class="btn btn-dark" value="Edit" (click)="EditUser(user)"></div>
            </div>
            <div class="row mb-2" > 
                <div class="col-lg-6" style="background-color:rgb(166, 170, 214);margin-left:10px">
                <label style="font-weight: bold">{{user.lastName}}</label>
                </div> 
                <div class="col-lg-4"><input type="button" class="btn btn-dark" value="Delete" (click)="deleteUser(user)"></div>
            </div>
            <div class="row mb-2"> 
                <div class="col-lg-6" style="background-color:rgb(82, 78, 105);margin-left:10px">
                <label style="font-weight: bold">{{user.employeeId}}</label>
                </div>               
                </div>
        </div>
  </div>

 
  <!-- Default form contact -->
  
  