<div class="page-header"  style="padding-left: 140px">
  <h1>
    view-task!
  </h1>
  </div>
<div class="container">

  <div class="row" style="margin-left:150px">
      <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
     
        <h2>Search</h2>
        <hr class="colorgraph">
        <div class="row mb-4" style="margin:auto;margin-top:10px;margin-left:-100px; width: 1000px; border: 3px solid #008000;padding: 10px;">  
          <table cellspacing=0 cellpadding=12>
            <tr>
                <td>
                    <label>Project:</label>
                </td>
              <td>
                  <input type="text" class="form-control" placeholder="Search by Project"  id="txtSearch">
              </td>
              <td>
                  <img src="../src/images/Search-icon.png">
              </td>
              <td>
                  <label style="font-weight: bold">Sort By:</label>
              </td>
              <td>
                  <input type="button" class="btn btn-dark" value="First Name" (click)="setOrder('user.firstName')" >  
              </td>
              <td>
                  <input type="button" class="btn btn-dark" value="Last Name" (click)="setOrder('user.lastName')">
              </td>
              <td>
                  <input type="button" class="btn btn-dark" value="Employee ID" (click)="setOrder('user.employeeId')">
              </td>
              <td>
                  <input type="button" class="btn btn-dark" value="Employee ID" (click)="setOrder('user.employeeId')">
              </td>
            </tr>
          </table>                          
                                 
          </div>
            
      
     
    </div>
  </div>
  
 
 </div>  
    

<div style="margin-left:-20px" >
  
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th  style="visibility:hidden">Id</th>
      <th>Task</th>
      <th>Parent</th>
      <th>Priority</th>
      <th>Start</th>
      <th>End</th>
      <th>Action</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-success">
      <td style="visibility:hidden">1</td>
      <td>Task_Name</td>
      <td>Parent_Task</td>
      <td>task.priority</td>
      <td>2432</td>
      <td>245</td>
      <td><button class="btn btn-dark" (click)="editTask(task)"> Edit</button></td>
      <td><button class="btn btn-dark" (click)="endTask(task)" style="margin-left: 20px;"> End Task</button></td>
    </tr>
    </tbody>
  </table>
</div>

