<div class="page-header"  style="padding-left: 140px">
  <h1>
    view-task!
  </h1>
  </div>
<div class="container">

  <div class="row" style="margin-left:150px">
      <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
     
        <h2>Search</h2>
        <hr class="colorgraph">
        <div class="row mb-4" style="margin:auto;margin-top:10px;margin-left:-100px; width: 1000px; border: 3px solid #008000;padding: 10px;">  
          <table cellspacing=0 cellpadding=12>
            <tr>
                <td>
                    <label>Project:</label>
                </td>
              <td>
                  <input type="text" class="form-control"   [(ngModel)]="task.ProjectName" placeholder="Search by Project"  id="txtSearch">
              </td>
              <td>
                <img src="/images/Search-icon.png" data-toggle="modal" data-target="#ProjecttModal">
              </td>
              <td>
                  <label style="font-weight: bold">Sort By:</label>
              </td>
              <td>
                  <input type="button" class="btn btn-dark" value="Start Date" (click)="setOrder('user.task.Start_Date')" >  
              </td>
              <td>
                  <input type="button" class="btn btn-dark" value="End Date" (click)="setOrder('user.task.End_Date')"  >
              </td>
              <td>
                  <input type="button" class="btn btn-dark" value="Priority" (click)="setOrder('task.Priority')" >
              </td>
              <td>
                  <input type="button" class="btn btn-dark" value="Task" (click)="setOrder('task.TaskName')">
              </td>
            </tr>
          </table>                          
                                 
          </div>
            
      
     
    </div>
  </div>
  
 
 </div>  
    

<div style="margin-left:-20px" >
  
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th>Id</th>
      <th>Task</th>
      <th>Parent</th>
      <th>Priority</th>
      <th>Start</th>
      <th>End</th>
      <th>Action</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of filteredList | orderBy: order:reverse:'case-insensitive'" class="table-success">
        <td >{{task.Task_ID}}</td>
        <td>{{task.TaskName}}</td>
        <td>{{task.Parent_Task}}</td>
        <td>{{task.Priority}}</td>
        <td>{{task.Start_Date| date:'shortDate'}}</td>
        <td>{{task.End_Date| date:'shortDate'}}</td>
        <td><button class="btn btn-dark" [disabled]="task.Status" (click)="editTask(task)"> Edit</button></td>
        <td><button class="btn btn-dark" [disabled]="task.Status" (click)="endTask(task)" style="margin-left: 20px;"> End Task</button></td>
      </tr>
    </tbody>
  </table>
</div>


<div class="modal" id="ProjecttModal">
  <div class="modal-dialog">
    <div class="modal-content">
   
         <!-- Modal Header -->
         <div class="modal-header">
           <h4 class="modal-title">Select Projects</h4>
           <button type="button" class="close" data-dismiss="modal">&times;</button>
         </div>
   
         <!-- Modal body -->
         <div class="modal-body">
            <input type="text" class="form-control" [(ngModel)]="ProjectModalFilter.ProjectName"  placeholder="Search by Project" id="txtmanager">               
               <ul *ngFor="let project of projects |filterBy: ProjectModalFilter" class="list-group" style="margin-top:10px">
                 <li class="list-group-item" (click)="SelectProject(project)"><label style="display:none">{{project.Project_ID}}</label>{{project.ProjectName}}</li>                    
               </ul> 
         </div>
   
         <!-- Modal footer -->
         <div class="modal-footer">
           <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
         </div>
   
     </div>
    </div>
</div>